<div v-if='row.$slingshotPitches' class="card-body">

  <div class="row" style="padding-top:5px;">
    <i @click="unSavePitch(saveSlingshot(row.$slingshotPitches.rowKey))" v-if="saveSlingshot(row.$slingshotPitches.rowKey)" class="fas fa-star fa-lg" style="color: black;">
    </i>
    <i @click="saveSlingshotPitch(row.$slingshotPitches.rowKey, row.$slingshotPitches.$companyLogo$display)" v-if="!saveSlingshot(row.$slingshotPitches.rowKey)" class="far fa-star fa-lg" style="color: black;">
    </i>
  </div>

  <div style="padding-top: 10px;">
    <center><img :src="row.image" style="border-radius: 15px; max-width:100px;  " /> </center>
  </div>

  <div class="pt-4 text-center">
    <h5 class="h3 title">
      <span class="d-block mb-1" style="font-family: 'Grenette pro', sans-serif; font-size: 20px; color:black;">{{row.$slingshotPitches.name}}</span>
      <small id="about" class="h4 font-weight-light text-muted"></small>
    </h5>

    <p v-if="row.$slingshotPitches.aboutTheCompany" class="h4 font-weight-light about" style="height: 120px; padding-bottom: 30px; font-family: 'Grenette pro', sans-serif; color:black;">{{truncateText(row.$slingshotPitches.aboutTheCompany, 200)}}</p>


    <div class="team" style="height: 100px; padding-bottom: 10px;">
      <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Team Members: </p>

      <p class="h4 font-weight-light" v-if="i < 3" v-for="member, i in filterBy($getGrid('teamMembersTable'), row.$slingshotPitches.rowKey, 'slingshotPitches') ">
        <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em;     font-weight: 400;">
          <div class="rectangle" style="padding: 2px; border-radius: 6px;">
            <a :href="member.linkedin" target="_blank">
              {{member.name}}

              {{member.secondName}}
              <span v-if="member.$jobRole$display"> - </span>
              {{member.$jobRole$display}}
            </a>
          </div>
        </span>
      </p>
    </div>

    <div class="investment" style="height: 70px; padding: 40px;">
      <div v-if="row.$slingshotPitches.$investmentType$display">
        <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Investment Type: </p>
        <div class="rectangle" style="background-color:#f59595; padding: 2px; border-radius: 6px;">
          <span style="font-family: 'Grenette pro', sans-serif; color: black;"> {{row.$slingshotPitches.$investmentType$display}} </span>
        </div>
      </div>
    </div>

    <div class="totalfundinground" style="height: 20px; padding-top: 40px;">
      <div v-if="row.$slingshotPitches.totalFundingRound ">
        <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black;"> Total Funding Round: £{{row.$slingshotPitches.totalFundingRound |  numeralFormat('0,0') }} </p>
      </div>
    </div>

    <div class="moneyraisedtodate" style="height: 20px; padding-top: 30px; padding-bottom: 30px;">
      <div v-if="row.$slingshotPitches.capitalRaisedToDate ">
        <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black;"> Money Raised to date: £{{row.$slingshotPitches.capitalRaisedToDate |  numeralFormat('0,0') }} </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div style="padding: 5px;" v-if="row.$slingshotPitches.website">
        <a :href="'https://'+row.$slingshotPitches.website" target="_blank">
          <div class="social-icon-contain">
            <i style="padding: 5px; color: white;" class="fas fa-globe"></i>
          </div>
        </a>
      </div>

      <div style="padding: 5px;" v-if="row.$slingshotPitches.linkedInLink">
        <a :href="row.$slingshotPitches.linkedInLink" target="_blank">
          <div class="social-icon-contain">
            <i style="padding: 5px; color: white;" class="fab fa-linkedin"></i>
          </div>
        </a>
      </div>
    </div>


    <center>
      <div style="padding: 10px;">
        <button style="font-family: 'Grenette pro', sans-serif; font-size: 15px;" class="myButton" @click='openDetail(row.rowKey)'>Show More Details</button>
        </b-button>
      </div>
    </center>



  </div>
</div>