<div class="row" style="margin-left: 20px; padding-top: 20px;">
  <div class="col-lg-12 col-sm-12 column">
    <div>
      <b-card>

        <div style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
          <img class="detail_image" :src="$getDashboardModel('slingshotPitches')[row.rowKey].companyLogo.url" width="100px" height="100px" style="margin-left: 5px; vertical-align:middle; border-radius: 15px;">
          <span class="company_title" style="font-weight: bold; font-family: 'Grenette pro', sans-serif; font-size: 25px; color:black; margin-left: 10px; ">{{row.name}} - {{row.dealProjectName}}</span>
          <button style="float: right; font-family: 'Grenette pro', sans-serif; font-size: 15px; " class="myButton application_button" @click="$dgAddRowAndOpenModal('applications', {name: 'Investor->SME', pitch:row.rowKey, investor: $getUser('profileID'), sME: row.sME,  notificationDescription: `An Investor has applied for ${row.name}`})">
            <break></break>
            Express Interest
          </button>
        </div>

        <b-tabs card="">
          <b-tab title="Company Info" :title-link-class="'tab-title-class'" active="">

            <div class="row" style="padding-top: 10px;">
              <div class="column col-lg-4 col-sm-12 col-md-12">
                <p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 14px;">
                    <div class="rectangle" style="background-color: #dfe3eb; padding: 5px; border-radius: 6px; width:70%; margin: 10px;">
                      Contact Details will only be displayed upon approval by the SME. Press the 'Express Interest' button to apply. </div>
                  </span>
                </p>
              </div>
            </div>

            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.name" class="h4 font-weight-bold"> Company Name
                    <b-card-text>{{row.name}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.aboutTheCompany" class="h4 font-weight-bold"> About Company
                    <b-card-text>{{row.aboutTheCompany}}</b-card-text>
                  </p>
                </div>
              </div>

              <div class="row" v-if="filterInvestorApplications(row.rowKey, $getUser('profileID'))">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.companyEmail" class="h4 font-weight-bold"> Email
                    <b-card-text>{{row.companyEmail}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.mobileNumber" class="h4 font-weight-bold"> Contact Number
                    <b-card-text>{{row.mobileNumber}}</b-card-text>
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.website" class="h4 font-weight-bold"> Website
                    <b-card-text>{{row.website}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.location" class="h4 font-weight-bold"> Location
                    <b-card-text>{{row.$location$display}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.startDate" class="h4 font-weight-bold"> Company Start Date
                    <b-card-text>{{row.$startDate$Date}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.employeeAmount" class="h4 font-weight-bold"> Number of employees
                    <b-card-text>{{row.employeeAmount}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.currentReturnOfRevenue" class="h4 font-weight-bold"> Current Return Of Revenue (Per Employee)
                    <b-card-text>£{{row.currentReturnOfRevenue |  numeralFormat('0,0') }}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.numberOfJobsGenerated" class="h4 font-weight-bold"> Number of jobs generated in testbed to successfully deliver on program
                    <b-card-text>{{row.numberOfJobsGenerated}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.predictedEmployeesHired1Year" class="h4 font-weight-bold"> Predicted Number Of Employees Hired (1 Year)
                    <b-card-text>{{row.predictedEmployeesHired1Year}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.predictedEmployeesHired2Years" class="h4 font-weight-bold"> Predicted Number Of Employees Hired (2 Years)
                    <b-card-text>{{row.predictedEmployeesHired2Years}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.predictedEmployeesHired3Years" class="h4 font-weight-bold"> Predicted Number Of Employees Hired (3 Year)
                    <b-card-text>{{row.predictedEmployeesHired3Years}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.predictedEmployeesHired5Years" class="h4 font-weight-bold"> Predicted Number Of Employees Hired (5 Years)
                    <b-card-text>{{row.predictedEmployeesHired5Years}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.predictedJobsPostProgram" class="h4 font-weight-bold"> Predicted Number Of Jobs Generated (During Program)
                    <b-card-text>{{row.predictedJobsPostProgram}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.numberOfInteractionsCommercialOpportunities" class="h4 font-weight-bold"> Number of Commercial Opportunities
                    <b-card-text>{{row.numberOfInteractionsCommercialOpportunities}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.productGrowthOtherIndustries" class="h4 font-weight-bold"> What other industries can the product or solution add value to? </p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 14px;" v-for="item in row.$productGrowthOtherIndustries$display">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; width: 250px; margin: 10px;">
                      {{item}}
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </b-tab>

          <b-tab title="Pitch & Deal" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.dealProjectName" class="h4 font-weight-bold"> Deal/Project Name
                    <b-card-text>{{row.dealProjectName}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.pitchSummary" class="h4 font-weight-bold"> Pitch Summary
                    <b-card-text>{{row.pitchSummary}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.commitmentClosingDate" class="h4 font-weight-bold"> Commitment Closing Date
                    <b-card-text>{{row.$commitmentClosingDate$Date}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.targetCompletionDate" class="h4 font-weight-bold"> Target Completion Date
                    <b-card-text>{{row.$targetCompletionDate$Date}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.capitalRaisedToDate" class="h4 font-weight-bold"> Capital raised to-date
                    <b-card-text>£{{row.capitalRaisedToDate |  numeralFormat('0,0') }}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.preMoneyValuationOfCurrentRound" class="h4 font-weight-bold"> Pre-Money Valuation of current round
                    <b-card-text>£{{row.preMoneyValuationOfCurrentRound |  numeralFormat('0,0') }}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.capitalAlreadyRaisedForCurrentFundingRound" class="h4 font-weight-bold"> Capital already raised/commited for the current funding round
                    <b-card-text>£{{row.capitalAlreadyRaisedForCurrentFundingRound |  numeralFormat('0,0')}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.mainInvestorsCommitedInCurrentRound" class="h4 font-weight-bold"> Main investors commited/invested in current round
                    <b-card-text>{{row.mainInvestorsCommitedInCurrentRound}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.minimumInvestment" class="h4 font-weight-bold"> Minimum Investment
                    <b-card-text>£{{row.minimumInvestment |  numeralFormat('0,0')}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.targetReturnOfInvestment" class="h4 font-weight-bold"> Target Return of Investment
                    <b-card-text>£{{row.targetReturnOfInvestment |  numeralFormat('0,0')}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.totalFundingRound" class="h4 font-weight-bold"> Total funding round
                    <b-card-text>£{{row.totalFundingRound |  numeralFormat('0,0')}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.eISSEIS" class="h4 font-weight-bold"> EIS Eligible
                    <b-card-text>{{row.$eISSEIS$display}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.investmentType" class="h4 font-weight-bold"> Investment Type </p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 14px;">
                    <div class="rectangle" v-if="row.investmentType" style="background-color:#f59595; padding: 5px; border-radius: 6px; width:70%; margin: 10px;">
                      {{row.$investmentType$display}}
                    </div>
                  </span>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.targetInvestorsForDealMarketing" class="h4 font-weight-bold"> Target Investors for Deal Marketing
                  </p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 14px;" v-for="item in row.$targetInvestorsForDealMarketing$display">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; width:70%; margin: 10px;">
                      {{item}}
                    </div>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.specificStrategicValue" class="h4 font-weight-bold"> Specific strategic/value add investors
                    <b-card-text>{{row.specificStrategicValue}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.excludedInvestors" class="h4 font-weight-bold"> Excluded Investors
                    <b-card-text>{{row.excludedInvestors}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.companyDebt" class="h4 font-weight-bold"> Does the company have any debt?
                    <b-card-text>{{row.companyDebt}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.litigationTaxOrPressure" class="h4 font-weight-bold"> Is the company subject to any litigation, tax or creditor pressure?
                    <b-card-text>{{row.litigationTaxOrPressure}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.news" class="h4 font-weight-bold"> News
                    <b-card-text>{{row.news}}</b-card-text>
                  </p>
                </div>
              </div>
            </div>
          </b-tab>

          <b-tab title="Mentor Requirements" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.sectors" class="h4 font-weight-bold"> Target Sectors </p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 14px;" v-for="item in row.$sectors$display">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; margin: 10px;">
                      {{item}}
                    </div>
                  </span>
                </div>
              </div>
              <p> </p>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.skills" class="h4 font-weight-bold"> Target Skills </p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 14px;" v-for="item in row.$skills$display">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; margin: 10px;">
                      {{item}}
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </b-tab>

          <b-tab title="HR Requirements" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p class="h4 font-weight-bold"> HR Requirements </p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 14px; " v-for="req in filterBy($getGrid('hRRequirementsTable'), row.rowKey,  'slingshotPitches') ">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; width:auto; margin: 10px; ">
                      {{req.name}} - {{req.$requirementType$display}}
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </b-tab>

          <b-tab title="Milestones" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p class="h4 font-weight-bold"> Milestones Completed (Last 6 Months)</p>
                  <div class="row">
                    <div class="col-md-12 offset-md-3">
                      <ul class="rm timeline" style="color: black;">
                        <li :class='"timeRow"' v-for="item in orderBy( filterBy($getGrid('milestones'), row.rowKey, 'slingshotPitches'), 'targetCompletionDate')">
                          {{item.name}} <span style="font-weight: bold;">{{item.$targetCompletionDate$Date}}</span>
                          <p>{{item.description}}</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p class="h4 font-weight-bold"> Milestones (Next Five Years)</p>
                  <pre></pre>
                  <div class="row">
                    <div class="col-md-12 offset-md-3">
                      <ul class="rm timeline" style="color: black;">
                        <li :class='item.completed ? "timeRow" : "timeRowRed"' v-for="item in orderBy( filterBy($getGrid('nextFiveYearsMilestones'), row.rowKey, 'slingshotPitches'), 'targetCompletionDate')">
                          {{item.name}} <span style="font-weight: bold;">{{item.$targetCompletionDate$Date}}</span>
                          <p>{{item.description}}</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </b-tab>

          <b-tab title="Documents" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p class="h4 font-weight-bold"> Documents stored:</p>
                  <b-card-text style="color:black;">
                    <li>Executive Summary of the project</li>
                    <li>Investment Memorandum / Deck</li>
                    <li>Financial Forecast Model</li>
                    <li>Latest Financial Trading Information</li>
                    <li>Data Room Documents</li>
                    <li>Company logos and branding collalteral</li>
                  </b-card-text>
                  <button @click='$dgAddRowAndOpenModal("documentRequests", {slingshotPitches : row.rowKey})' style="float: left; font-family: 'Grenette pro', sans-serif; font-size: 15px; " class="myButton"> Request Access </button>
                </div>
              </div>
            </div>
          </b-tab>

          <b-tab title="Team" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p class="h4 font-weight-bold"> Team Members</p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 14px; " v-for="member in filterBy($getGrid('teamMembersTable'), row.rowKey, 'slingshotPitches') ">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; width:auto; margin: 10px; ">
                      <img :src="member.$profilePitcture$display" style="border-radius: 15px; vertical-align:middle; max-width:100px  " />
                      {{member.name}}
                      {{member.secondName}}
                      <span v-if="member.$jobRole$display"> - </span>
                      {{member.$jobRole$display}}
                      <a :href="member.linkedin" target="_blank">
                        <i v-if="member.linkedin" style="padding: 5px; float: right;" class="fab fa-linkedin"></i>
                      </a>
                    </div>
                  </span>
                </div>
              </div>
          </b-tab>

          <b-tab title="References" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.cornerstoneInvestorContactDetails" class="h4 font-weight-bold"> Cornerstone Investor
                    <b-card-text>{{row.cornerstoneInvestorContactDetails}}</b-card-text>
                  </p>
                  <p class="h4 font-weight-bold"> References</p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 14px; " v-for="member in filterBy($getGrid('references'), row.rowKey, 'slingshotPitch') ">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; width:auto; margin: 10px; ">
                      <img :src="member.$profilePitcture$display" style="border-radius: 15px; vertical-align:middle; max-width:100px  " />
                      {{member.name}}
                      {{member.mobileNumber}}
                      {{member.email}}
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </b-tab>

          <b-tab title="Mentors Involved" :title-link-class="'tab-title-class'">
            <div class="row" style="padding-top: 10px;">
              <div class="column col-lg-4 col-sm-12 col-md-12">
                <p class="h4 font-weight-bold" style="font-size: 17px;font-family: 'Grenette pro', sans-serif; color: black"> Mentors </p>
              </div>
            </div>

            <span style=" 
                font-family: 'Grenette pro', sans-serif;
                color: #ef4437;
                font-size: 1em;
                font-weight: 400;
              " v-for="mentor in filterPitchMentors(row.rowKey)" :key="mentor.rowKey">

              <div style="padding-left: 20px;">
                <img class="detail_image" :src="$getDashboardModel('mentors')[mentor.mentor].profileImage.url" style="border-radius: 15px; max-width:90px; padding: 5px; vertical-align:middle; " /></img>
                <span style="vertical-align:middle; ">{{mentor.$mentor.name}} {{mentor.$mentor.secondName}}</span>
              </div>



            </span>
          </b-tab>

        </b-tabs>
      </b-card>
    </div>
  </div>
</div>