<div class="card-body">
  <div class="row" style="padding-top:5px;">

    <i @click="unSavePitch(saveSlingshot(row.rowKey))" v-if="saveSlingshot(row.rowKey)" class="fas fa-star fa-lg" style="color: black;">
    </i>

    <i @click="saveSlingshotPitch(row.rowKey, row.companyLogo.url)" v-if="!saveSlingshot(row.rowKey)" class="far fa-star fa-lg" style="color: black;">
    </i>
  </div>

  <div style="padding-top: 10px;">
    <center><img v-if="row.companyLogo" :src="row.companyLogo.url" style="border-radius: 15px; max-width:100px;  " /> </center>
  </div>

  <div class="pt-4 text-center">
    <h5 class="h3 title">
      <span class="d-block mb-1" style="font-family: 'Grenette pro', sans-serif; font-size: 20px; color:black;">{{row.name}}</span>
      <small id="about" class="h4 font-weight-light text-muted"></small>
    </h5>

    <div class="about" style="height: 120px;">
      <p v-if="row.aboutTheCompany" class="h4 font-weight-light" style="padding-bottom: 30px; font-family: 'Grenette pro', sans-serif; color:black;">{{truncateText(row.aboutTheCompany,200)}}</p>
    </div>

    <div class="team" style="height: 100px; padding-top:10px; padding-bottom: 10px;">
      <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Team Members: </p>

      <p class="h4 font-weight-light" v-if="i < 3" v-for="member, i in filterBy($getGrid('teamMembersTable'), row.rowKey, 'slingshotPitches') ">
        <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em;     font-weight: 400;">
          <div class="rectangle" style=" padding: 2px; border-radius: 6px;">
            <a :href="member.linkedin" target="_blank">
              {{member.name}}

              {{member.secondName}}
              <span v-if="member.$jobRole$display"> - </span>
              {{member.$jobRole$display}}
            </a>
          </div>
        </span>
      </p>
    </div>

    <div class="investment" style="height: 70px; padding: 40px;">
      <div style="padding-top:20px;" v-if="row.investmentType">
        <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Investment Type: </p>
        <div class="rectangle" style="background-color:#f59595; padding: 2px; border-radius: 6px;">
          <span style="font-family: 'Grenette pro', sans-serif; color: black;"> {{row.$investmentType$display}} </span>
        </div>
      </div>
    </div>

    <div class="totalfundinground" style="height: 20px; padding-top: 50px;">
      <div v-if="row.totalFundingRound">
        <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black;"> Total Funding Round: £{{row.totalFundingRound |  numeralFormat('0,0') }} </p>
      </div>
    </div>

    <div class="moneyraisedtodate" style="height: 20px; padding-top: 30px; padding-bottom: 30px;">
      <div v-if="row.capitalRaisedToDate">
        <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black;"> Money Raised to date: £{{row.capitalRaisedToDate |  numeralFormat('0,0') }} </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div style="padding: 5px;" v-if="row.website">
        <a :href="'https://'+row.website" target="_blank">
          <div class="social-icon-contain">
            <i style="padding: 5px; color: white;" class="fas fa-globe"></i>
          </div>
        </a>
      </div>

      <div style="padding: 5px;" v-if="row.linkedInLink">
        <a :href="row.linkedInLink" target="_blank">
          <div class="social-icon-contain">
            <i style="padding: 5px; color: white;" class="fab fa-linkedin"></i>
          </div>
        </a>
      </div>
    </div>


    <center>
      <div style="padding: 10px;">
        <button style="font-family: 'Grenette pro', sans-serif; font-size: 15px;      outline: none;" class="myButton" @click='openDetail(row.rowKey)'>Show More Details</button>
        </b-button>
      </div>
    </center>



  </div>
</div>