.splitpanes__pane {
    background-color: #fffaf3;
}

#widget-MKjPcMDdnM5M6Or4qlk{
    border: 1px solid black !important;
    border-radius: 5px;
    background-color: white!important;
    padding-top: 10px !important;
}

.bg{
    position: fixed;
}