/*Mobile Styling*/
@media only screen and (max-width: 1400px) {

    .menu .type{
        font-size: 0.9em;
    }

    .menu .oneline{
        font-size: 0.9em;
    }

    .menu .twoline{
        font-size: 0.9em;
    }

    .menu .threeline{
        font-size: 0.9em;
    }
    .menu a[data-bubble]{
        padding-left: 8px;
    }

}

@media only screen and (max-width: 1250px) {
    .nav-logo-text{
        font-size: 1em !important;
    }
    #hovernotif:hover #notifc {
        /*
        display: block;
        z-index: 1000 !important;
        width: 480px !important;
        */
    }
    .menu li{
        width: 115px !important;
    }
    
    .notiftitle .menusection{
        line-height: 15px !important;
    }
    .notifications__dropdown{
        line-height: 20px !important;

    }
    .Ncard{
        width: 50px !important;
    }

}

@media only screen and (max-width: 1085px) {

    .menu li{
        width: 140px !important;
    }

    .menu .type{
        font-size: 0.9em;
    }


}
@media only screen and (max-width: 950px) {
    #hovernotif:hover #notifc {

    }

    .flexbox-container{
    }

    .menu li{
        width: 103px !important;
    }
        .menu .type{
        font-size: 0.8em;
    }


}

@media only screen and (max-width: 800px) {
    .menu li{
        width: 90px !important;
    }
    .menu a[data-bubble]{
        padding-right: 25px;
        font-size: 12px !important;
    }

    .type{
        font-size: 12px !important;
    }

    .flexbox-container{
    }

    .content{

    }
}

@media only screen and (max-width: 715px) {

    .flexbox-container{
       
    }

    .content{
        
    }


    .menu li{
        width: 80px !important;
    }
    .menu a[data-bubble]{
        padding-right: 85px !important;
    }
    .type{
        font-size: 11px !important;
    }

}

@media only screen and (max-width: 450px) {

    .menu{
        margin-top: 50px !important;
        margin-left: 20px !important;
    }

    .border-top{
        height: 150px !important;
    }

    .menu li{
        width: 80px !important;
    }
    .menu a[data-bubble]{
        padding-right: 85px !important;
    }
    .type{
        font-size: 11px !important;
    }

}

