.dataGridEditRow{
            background-color: #fffaf3 !important;

}

.form-builder-root .nav a{
        font-family: 'Grenette pro', sans-serif !important; 
    color: black !important;  

}

.head-menu__custom{
    display: none;
}

.sectionItem .nav-tabs .active {
    border-bottom: 1px solid #ef4437;
    color: #ef4437;
}

#scroll-MXXUbzBi9sEmgHrIEXP{
border: 1px solid black;
                background-color: #fffaf3 !important;

}

.guiSectionItem .nav-tabs .active {
    border-bottom: 2px solid #ef4437;


}



.form-builder-root span{
        font-family: 'Grenette pro', sans-serif !important; 
font-size: 0.85rem;
    color: black !important;  

}

.controlItem{
                background-color: #fffaf3 !important;

}

.form-block input{
    background-color: #fffaf3 !important;
    /* max-height: 30px; */
    margin-bottom: 0px;

} 

.form-block .controlElement textarea{
                        background-color: #fffaf3 !important;

}

.field__description{
            font-family: 'Grenette pro', sans-serif !important; 

}

.handy-scroll-area thread{
                            background: #fffaf3 !important;

}

.data-grid__tableHeading{
    background: #fffaf3 !important;
}

.input-group-text {
    background: #fffaf3 !important;
}

.data-grid__row{
    background: #fffaf3 !important;
}

.flatpickr-calendar{
    background-color: #fffaf3;
    font-family: 'Grenette pro', sans-serif !important; 
}

.dg-lookup-control__addVal{
    color: #ef4437;
}

.rowItem .controlElement{
    font-family: 'Grenette pro', sans-serif !important;
    font-size: 0.85rem;
    color: black !important;
}

.data-grid__table-wrapper .card{
        border: 0px solid rgba(0, 0, 0, 0.2);
}

.collapseFormItem .title{
    display: none;
}

.badge-primary {
    background: #ef4437;
    color: black;
}


.badge-primary[href]:hover, .badge-primary[href]:focus {
    text-decoration: none;
    color:black;
    background-color: #ef4437;
}

.data-grid__tHeadToggle{
    display: none;
}

.grid-stack-item-content h-100 ._hasTitle{
 display: none;
}

.vs__dropdown-menu{
        background: #fffaf3 !important;

}