/* Global text styling */
.pagetitle{
    color: black;
    letter-spacing: 4px;
    font-weight: 600;
    padding-top: 40px;
    font-size: 30px;
}

@font-face {
  font-family: 'Grenette pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://firebasestorage.googleapis.com/v0/b/tangle-157402.appspot.com/o/fonts%2Fgrenette-regular-pro.ttf?alt=media&token=54b96fb6-b06d-44ee-a429-15ce25b32659);
}
@font-face {
  font-family: 'Grenette pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://firebasestorage.googleapis.com/v0/b/tangle-157402.appspot.com/o/fonts%2Fgrenette-semibold-pro.ttf?alt=media&token=09d0508b-2014-439d-9f65-9a8942c6155b);
}