@media only screen and (max-width: 1633px) {
.nav-menu-link{
        font-size: 0.9em !important;
    }
}

@media only screen and (max-width: 800px) {

.nav-menu-link{
        font-size: 0.7em !important;
    }
}

@media only screen and (max-width: 600px) {

span{
        font-size: 0.25em !important;
}

.intro{
        font-size: 0.35em !important;
}

.hero-text-small {
    color: #ef4437;
    font-size: 0.15em !important;
 
}


.nav-logo-text {

    font-size: 0.8em !important;
 
}

.logomark {
    width: 2.2em !important;
    height: 100%;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-menu-link{
        font-size: 0.7em !important;
}

.nav-menu-link-box {
    width: 21.1vw !important;

}

label{
        font-size: 3em !important;

}

.nav-item a{
        font-size: 0.9em !important;
}

.grid-stack-item{
   padding: 0px 25px 0px 35px !important;
}

.card{
    /*width: 302px !important;*/

}

button{
        font-size: 0.79rem !important;
}

.multiselect__tags span{
        font-size: 0.79rem !important;

}

.multiselect__element span{
        font-size: 0.79rem !important;

}

.hero-text{
        margin-top: 200px !important;
        line-height: 0.2 !important;
}

.hero-text-small{
        font-size: 0.25em !important;
}


}

@media only screen and (max-width: 1300px) {
.hero-text{
        margin-top: 300px !important;
        line-height: 1;
}
}