/* Signup/Sign In Modal */
.modal-content{
    border: 1px solid black;
    border-radius: 2px;
}

.modal-header{
    height: 1px !important;
    border-bottom: 0px solid black;
}

.modal-content input{
    border: 1px solid black;
    border-radius: 3px;
    height: 40px;
}

.modal-content .nav-link .active{
    display:none !important;
}

.modal-content{
    background-color: #fffaf3;
}

.modal-content .card-header{
    background-color: #fffaf3;
}

.modal-content .nav-link{
    font-family: 'Grenette pro', sans-serif !important;
    color: black;
}

.modal-content .nav-link:hover{
    color:#ef4437 !important;
}

.modal-content .active{
    color: black !important;
    font-weight: bold !important;
    border-bottom: 0px solid black !important;
}

form legend{
    font-family: 'Grenette pro', sans-serif !important;
    color: black !important;
    font-size: 16px !important;
}

.form-group label{
    font-family: 'Grenette pro', sans-serif !important;
    color: black !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

form input{
    font-family: 'Grenette pro', sans-serif !important;
}

.modal-content .btn-primary{
    background-color: #fffaf3 !important;
	border:1px solid #000000;
    color: black !important;
    border-radius: 0px;
    box-shadow: 0px 0px;
	width:100%;
}

.modal-content .btn-primary:hover{
	background-color:#ef4437 !important;
	color:#000000;
}

.modal-content .btn-primary span{
    color: black !important;
    font-family: 'Grenette pro', sans-serif !important;
    font-size:15px;
}

.oauth__link{ 
    justify-content: center !important;
}

/*Cookie Popup*/

.cookie-container p{
    margin-top: 5px;
    font-family: 'Grenette pro', sans-serif !important;
}

.cookie-button{
    font-family: 'Grenette pro', sans-serif !important;
}

/*Open Auth Card Styling*/

p{
    font-family: 'Grenette pro', sans-serif !important;
}

h2{
    font-family: 'Grenette pro', sans-serif !important;
}

span{
    font-family: 'Grenette pro', sans-serif !important;
}

/* Open Auth back to list button
.btn-primary{
    display: none;
*/