#image-modal___BV_modal_content_ .modal-footer button{
    display: none !important;
}

#image-modal___BV_modal_footer_{
    background-color: #fffaf3 !important;

}

#image-modal___BV_modal_body_{
    padding: 0px !important;
}

#image-modal .modal-dialog-centered{


}
