/* Tooltip text */
.bug .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
  top: 8px;
  width: 100px;
  right: 0px;
}

.bug:hover .tooltiptext {
  visibility: visible;
  margin-top: 20px;

}

/* Tooltip text */
.admin .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
   top: 8px;
  width: 100px;
  right: 0px;
}

.admin:hover .tooltiptext {
  visibility: visible;
  margin-top: 20px;
}

/* Tooltip text */
.dev .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
}

.dev:hover .tooltiptext {
  visibility: visible;
  margin-top: 20px;
}

/* Tooltip text */
.userManagement .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;

}

.userManagement:hover .tooltiptext {
  visibility: visible;
  margin-top: 20px;
}


/* Tooltip text */
.h3 i .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;

}

.h3 i:hover .tooltiptext {
  visibility: visible;
  margin-top: 20px;
}

.cohortCard .dot .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;

}

.cohortCard .dot:hover .tooltiptext {
  visibility: visible;
  margin-top: 20px;
}

/*Programme Logo hover*/
.programmeContainer .programmeLogo:hover .tooltiptext {
  visibility: visible;
  margin-top: 90px;
}

.programmeContainer .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;

  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
}

/*Delete Cohort*/
.deleteCohort:hover .tooltiptext {
  visibility: visible;
  margin-top: -36px;
}

.deleteCohort .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 100px;
  right: -30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;

}

/*Edit Cohort*/
.editCohort:hover .tooltiptext {
  visibility: visible;
  margin-top: -36px;
}

.editCohort .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 100px;
  right: -30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
}

/*Delete Programme*/
.deleteProgramme:hover .tooltiptext {
  visibility: visible;
  margin-top: -59px;
}

.deleteProgramme .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 100px;
  right: -30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;

}

/*Edit Programme*/
.editProgramme:hover .tooltiptext {
  visibility: visible;
  margin-top: -59px;
}

.editProgramme .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 100px;
  right: -30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
}

/*Delete Company*/
.deleteCompany:hover .tooltiptext {
  visibility: visible;
  margin-top: -59px;
}

.deleteCompany .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 100px;
  right: -30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;

}

/*Edit Company*/
.editCompany:hover .tooltiptext {
  visibility: visible;
  margin-top: -40px;
}

.editCompany .tooltiptext {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 100px;
  right: -30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
}

/*Profile Hover*/
.profileHover:hover .profileDropdown {
  visibility: visible;
  margin-top: 28px;
}

.profileDropdown {
  visibility: hidden;
  background-color: #fffaf3;
  color: black;
  text-align: center;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 130px;
  right: -1px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  justify-content: center;
  height: auto;
}

.profileDropdown ul{
  margin-bottom: 0px !important;
  margin-left: -31.5%;
  list-style: none;
  display: block;
}

.profileHover .profileDropdown .profileMenu  li{
  width: 100%;
  list-style: none;
  padding-left: 5%;
  font-family: 'Grenette pro', sans-serif;
  height: 30px;
	display: inline-block; 
}

.profileHover .profileDropdown .profileMenu  .signOut{
  border-top: 1px solid black;
}

.profileHover .profileDropdown .profileMenu  li:hover{
  background-color: #ef4437;
}

.profileHover .profileDropdown .profileMenu  li p{
  margin-top: 3px;
  font-size: 15px;
}

.profileHover .profileDropdown .profileMenu  li:hover p{
  font-weight: 900;
}