/* HTML Information Card Styling */

/*------------------FRONT CARD------------------*/
.widget-card-list__item .card{
    border:1px solid 	#696969	 !important;
}

.widgetContent__filters{
    border:0px solid 	#696969	 !important;
    box-shadow: 0 3px 4px 1px rgb(172 175 188 / 0%) !important;
    -webkit-box-shadow: 0 0px 0px 0px rgb(172 175 188 / 0%) !important;
}

.frontcard{
    padding: 1.2rem;
}

@media (max-width: 400px){
    .frontcard{
        padding: 0;
    }
}

/*Company Name*/
.frontcard .h3{
    color:black !important;
    font-size: 19px;
    font-weight: 550;
    letter-spacing: 1px;
    font-family: 'Grenette pro', sans-serif;   
}

/*Company About*/
.about{
    height: 140px;
}

.investment{
    height: 100px;
}

.totalfundinground{
    height: 50px;
    margin-top: 20px;
}

.moneyraisedtodate{
    height: 50px;
    margin-top: 20px;
}

.team{
    height: 250px;
}

.frontcard .about p{
    color:black !important;
    font-family: 'Grenette pro', sans-serif;   
}

/*Team heading*/
.team .h4{
    color: black;
    font-weight: 550 !important;
    font-family: 'Grenette pro', sans-serif;   
}

/*Investment Type*/
.investment p{
    color: black;
    font-size: 17px;
    font-family: 'Grenette pro', sans-serif;      
}

@media (max-width: 550px){
    .investment > div{
        padding-top: 0 !important;
    }

    .investment{
        padding-top: 30px !important;
    }
}

.totalfundinground .h4{
    color: black !important;
    font-family: 'Grenette pro', sans-serif;   
}
.moneyraisedtodate .h4{
    color: black !important;
    font-family: 'Grenette pro', sans-serif;   
}

.rectangle span{
    font-family: 'Grenette pro', sans-serif;   
}

.card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.myProfile a{
    font-family: 'Grenette pro', sans-serif;   
}

/* On mouse-over, add a deeper shadow*/
.card:hover {
  box-shadow: 0px 12px 16px 2px rgba(0,0,0,0.2);
}

body{
    background-color: white !important;
}

.card-body .card-header{
    background-color: white !important;
}

.social-icon-contain {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 2em;
    height: 2em;
    padding: 0em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
}

.social-icon-contain{
    color: black;
}

.social-icon-contain:hover {
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  background-color: #F1F1F1;

}

.investment .rectangle{
    background-color: #F1F1F1 !important;   
}

.team .rectangle a{
    color: black;
}

/*GLOBAL CARD SHADOW*/
.widgetContent__filters{
    -webkit-box-shadow: 0 3px 4px 1px rgba(172, 175, 188, 0.24) !important;
    box-shadow: 0 3px 4px 1px rgba(172, 175, 188, 0.24) !important;
    margin-left: 10px;
    border-radius:5px;
}

/*------------------DETAILS CARD------------------*/
/*Tabs*/
.tab-title-class {
    color: black !important;  
    
    font-size: 18px;
}

/*Card Title*/
.grid-stack-item__title{
    padding-left: 10px;
}

.details{
    padding-top: 15px;
}

.details.row.rectangle{
    background-color: black !important;
    color: black;
}

.details .row{
    padding-left: 15px;  
}

.company_title{
    
    font-weight: 600 !important;
}

.details{
    padding-top: 15px;
    
}

.details .h4{
    color: black !important;  
    font-size: 17px;
}

.details h2{
    color: black !important;  
    font-size: 17px;
}


/*------------------CARD LIST WIDGET------------------*/
/*Other Styling*/
.heading__content{
    font-size: 15px;
}

.page-item a{
    border: 1px solid black;
}

.pagination .active .page-link {
    color: black;
    border-color: #3f8cff;
}

.pagination{
    border: 0px solid #dce6f3;
    padding-left: 15px;
}

.form-control.form-control-md{
    background-color: white !important;
}

.btn.data-grid__addRowTrigger{
    display: none;
}

.data-grid__row.editMode{
    background-color: white !important;
}

.grid-stack-item__title{
    letter-spacing: 2px;
    font-weight: 400 !important;
    color: black !important;  
}

.grid-stack-item__title h4{
    font-weight: 500 !important;
}

.grid-stack-item__wrapper h4{
    color: black !important;  
    font-size: 23px;
}

.nav-link.active.tab-title-class{
    font-weight: bold !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: white;
    border-color: #dee2e6 #dee2e6 #f8f9fe;
}

/*Filter(s)*/
.RuleValue input{
    font-size: 14px !important;
}

.multiselect__tag{
   background-color: #F1F1F1 !important;
}

.multiselect__tag span{
    color:black !important;
}

.multiselect__tags{
    background-color: white !important;
    border-color: black;
}

.multiselect__tags input{
    background-color: white !important;
    border-color: black;

}
.multiselect__content-wrapper{
    background-color: white !important;
    border-color: black;
}

.filterItem__value input{
    background-color: white !important;
    border-color: black;
}

.widgetContent__filters{
    background-color: white !important;
}

/*---------------------COHORT CARDS----------------------*/
.cohortCard .profileImage{
    width: 100px;
    margin-top: 10px;
}

.cohortCard .container{
    height: 130px;
}

.cohortCard p{
    color: black !important;
}

.cohortCard .dot{
    top: 20px;
    right: 120px;
    width: 15px;
    height: 15px;
    -webkit-box-shadow:0 0 10px #ef4437;
    -moz-box-shadow: 0 0 10px #ef4437; 
    box-shadow:0 0 10px #ef4437;
}

.cohortCard h3{
        font-family: 'Grenette pro', sans-serif;   

}

@media (max-width: 600px){
    .cohortCard .buttonContainer{
        height: 220px !important;
    }
}

@media (max-width: 400px){
    .cohortCard .buttonContainer{
        height: 250px !important;
    }
}

@media (max-width: 350px){
    .cohortCard .buttonContainer{
        height: 280px !important;
    }
}

.cohortCard .infoContainer{
    height: 160px;
}

.cohortCard .inviteButtons{
    margin-bottom: -30px;
}

.cohortCard a{
    color: #ef4437;
}

.cohortCard .row{
    padding-bottom: 10px;
}

.cohortCard .row button{
    width: 100px;
    padding: 5px;
    margin: 5px;
}

.cohortCard .row2 button{
    width: 100%;
    margin-bottom: 10px;
}

.cohortCard .title{
    color:black;
    padding-top: 10px;
}

.cohortCard p{
    color: black;
}

.cohortCard h3{
    color: black;
}
.cohortCard h2{
    color: black;
}
.cohortCard h1{
    color: black;
}

.cohortCard .profileCard p{
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

.cohortCard .profileCard a{
    font-family: 'Grenette pro', sans-serif;   
}

.cohortCard .row button{
    width:auto !important;
}

.cohortCard .emptyMessage{
    padding: 10px;
}

.cohortCard img{
    border-radius: 15px !important;
}

.cohortCard .rectangle{
    color: #ef4437;
}
.cohortCard .rectangle span{
    color: #ef4437;
}

.cohortCard .viewButton{
    margin-bottom: -30px;
}

/*---------------------MENTOR CARDS----------------------*/
.mentorCards .profileImage{
    width: 100px;
}

.mentorCards .imageContainer{
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mentorCards .imageContainer img{
    border-radius: 10px;
}

.mentorCards .aboutMeContainer{
    height: 100px;
}

.mentorCards span{
    color: black;
}

.mentorCards p{
    color: black;
}

.mentorCards h2{
    color: black;
}

.mentorCards .rectangle{
    color: #ef4437;
}

.mentorCards a{
    color: #ef4437;
    font-family: 'Grenette pro', sans-serif;   
}

.tab-title-class {
    color: black !important;  
    font-family: 'Grenette pro', sans-serif !important;   
    font-size: 20px;
}

.details{
    padding-top: 15px;
}

.nav-link.active.tab-title-class{
    font-weight: bold !important;
}

.details .row{
    padding-left: 15px;
    font-family: 'Grenette pro', sans-serif !important;   
}

.details .h4{
    font-family: 'Grenette pro', sans-serif !important;   
    color: black !important;  
    font-size: 17px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #fffaf3;
    border-color: #dee2e6 #dee2e6 #f8f9fe;
}


.grid-stack-item__title{
    font-family: 'Grenette pro', sans-serif !important; 
    color: black !important;  
}

.grid-stack-item__wrapper h4{
    color: black !important;  
    font-size: 23px;
}

.heading__content{
    font-family: 'Grenette pro', sans-serif !important; 
    font-size: 15px;
}

.card{
    background-color: #fffaf3;
  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0px 12px 16px 2px rgba(0,0,0,0.2);
}

.widgetContent__filters{
    background-color: #fffaf3 !important;
}

.tVSelect__selectWrapper {
    background-color: white !important;
}

.select-wrapper{ 
    background-color: white !important;
}

body{
    background-color: #fffaf3 !important;
}

.card-body .card-header{
    background-color: #fffaf3 !important;
}

.card-body .team{
    margin-top: 20px;
}

.card-body .rectangle a{
    color: red !important;
}

.card-body .detailsBtn{
    margin-bottom: -40px
}

.multiselect__tags{
    background-color: #fffaf3 !important;
    border-color: black;
}

.multiselect__tags input{
    background-color: #fffaf3 !important;
    border-color: black;
}

.multiselect__content-wrapper{
    background-color: #fffaf3 !important;
    border-color: black;
}

.filterItem__value input{
    background-color: #fffaf3 !important;
    border-color: black;
}

.social-icon-contain {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 2em;
    height: 2em;
    padding: 0em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ef4437;
}

.rectangle a{
    color: #ef4437;
}

.data-grid__row.editMode{
    background-color: #fffaf3 !important;
}

.btn.data-grid__addRowTrigger{
    display: none;
}

.filesControl span, .filesControl svg {
    color: #ef4437;
}

.form-block input{
    font-family: 'Grenette pro', sans-serif !important; 
}

.controlElement textarea{
    font-family: 'Grenette pro', sans-serif !important; 
}

.RuleValue input{
    font-family: 'Grenette pro', sans-serif !important; 
}

.pagination{
    border: 0px solid #dce6f3;
    font-family: 'Grenette pro', sans-serif !important; 
}

.pagination .active .page-link {
    background-color: #ef4437;
    color: black;
    border-color: #3f8cff;
}

.page-item a{
    border: 1px solid black;
}

.multiselect__tag{
   background-color: #ef4437 !important;

}
.multiselect__tag span{
    color:black !important;
}

.RuleValue input{
    font-size: 14px !important;
}

.grid-stack-item__title{
    padding-left: 10px;
}

.profileCard p{
    color:black;
}

.myProfile h2{
    color:black;
}

.myProfile span{
    color: #ef4437;
}

/*------------------SESSION CARD------------------*/
.sessionCard .date span{
    color: #ef4437;
}
