.ml-auto{
        display: none !important;

}


.card-body {
    background-color: #fffaf3 !important;
    	border:1px solid #000000 !important;

}


.dataGridEditRow{
            background-color: #fffaf3 !important;

}

.form-builder-root .nav a{
        font-family: 'Grenette pro', sans-serif !important; 
    color: black !important;  

}

input{
            font-family: 'Grenette pro', sans-serif !important; 

}

textarea{
                font-family: 'Grenette pro', sans-serif !important; 

}

.sectionItem .nav-tabs .active {
    border-bottom: 1px solid #ef4437;
    color: #ef4437;
}


.form-builder-root span{
        font-family: 'Grenette pro', sans-serif !important; 
font-size: 0.85rem;
    color: black !important;  

}

.controlItem{
                background-color: #fffaf3 !important;

}

.form-block input{
                    background-color: #fffaf3 !important;

} 

.form-block .controlElement textarea{
                        background-color: #fffaf3 !important;

}

.field__description{
            font-family: 'Grenette pro', sans-serif !important; 

}

.handy-scroll-area thread{
                            background: #fffaf3 !important;

}

.data-grid__tableHeading{
    background: #fffaf3 !important;
}

.input-group-text {
                            background: #fffaf3 !important;

}

.sectionItem .nav-tabs .nav-link {
  
    font-size: 24px;

}

.multiselect__tags {
                            background: #fffaf3 !important;

}


element.style {
    max-height: 168px;
    display: none;
}
.multiselect__content-wrapper {
                            background: #fffaf3 !important;

}

.guiSectionItem .nav-tabs .active {
    border-bottom: 2px solid #ef4437

}

.vs__dropdown-menu{
        background: #fffaf3 !important;

}

.dg-lookup-control__addVal.i-primary{
 color: #ef4437;
}