

.controlItem{
        padding-top: 10px;
}

.thankyou{
        color: black !important
}

/* Initial Choose Your Profile Page - Text Styling */

.AlreadyRegistered{
        font-size: 3.0em !important;
        margin:0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 40%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
}

.thanks{
        font-size: 3.0em !important;
        margin:0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 40%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
}


.intro{
        font-size: 1.4em !important;
        margin:0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 110%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
}

.choose{
       margin-top: 40px;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 125%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
                font-size: 0.6em !important;

}


@media only screen and (max-width: 525px) {


.intro{
        font-size: 0.45em !important;
        width: 100%;
        top: 105% !important;
}

.choose{
        width: 100%;
        font-size: 0.25em !important;
        margin-top: 1px;


}
.nav-menu-link-box {
    width: 21.1vw !important;
            font-size: 0.7em !important;
}

.nav-logo-text{
        font-size: 0.7em !important;
}

}

@media only screen and (max-width: 600px) and (min-width: 525px) {

.intro{
        font-size: 0.8em !important;
        width: 100%;
                top: 35% !important;

}

.choose{
        width: 100%;
        font-size: 0.4em !important;


}

.hero-text-small {
    
    font-size: 0.15em !important;
 
}

.nav-logo-text {

    font-size: 0.8em !important;
 
}

.logomark {
    width: 2.2em !important;
    height: 100%;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-menu-link{
        font-size: 0.7em !important;
}

.nav-menu-link-box {
    width: 21.1vw !important;
            font-size: 0.7em !important;


}

label{
        font-size: 3em !important;

}

.nav-item a{
        font-size: 0.9em !important;
}

.grid-stack-item{
   padding: 0px 25px 0px 35px !important;
}

.card{
    /*width: 302px !important;*/

}

button{
        font-size: 0.79rem !important;
}

.multiselect__tags span{
        font-size: 0.79rem !important;

}

.multiselect__element span{
        font-size: 0.79rem !important;

}

.hero-text{
        margin-top: 200px !important;
        line-height: 0.2 !important;
}

.hero-text-small{
        font-size: 0.25em !important;
}


}

@media only screen and (max-width: 850px) and (min-width: 600px){
.nav-menu-link-box {
    width: 21.1vw !important;
}

.intro{
        font-size:0.9em !important;
}

.choose{
        font-size: 0.4em !important;
}


}

@media only screen and (max-width: 950px) {

.nav-menu-link {
        font-size: 1.0em !important;
}



}


@media only screen and (max-width: 1370px) {
.hero-text{


.nav-logo-text .back #text{
        font-size: 10px !important;
}


.intro{
        top: -5%;
        width: 100%;
}

.choose{
        top: 10%;
        width: 100%;
}

.nav-menu-link-box {
        width: 15vw;
}

}

@media only screen and (max-width: 1540px) {

.nav-menu-link-box a{
        font-size: 15px;
}

}


@media only screen and (max-width: 2000px) {


.intro{
        width: 100%;

}

.choose{
        width: 100%;
}



}