.chart-legend-label-val{
    color:black; 
    font-family: 'Grenette pro', sans-serif !important;
}

.chart-legend-label-text{
    color:black; 
    font-family: 'Grenette pro', sans-serif !important;
}

