.topNavigation {
    display: flex;
    justify-content: center;
    background: white;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    margin-top: 260px;
    padding: 10px 0;
}
.topNavigation__mobileMenuToggler {
    display: none;
}
.topNavigation__menu {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: white;
}
.topNavigation__menuItem:first-child {
    position: absolute;
    top: -280px;
}
.topNavigation__menuItem:first-child img {
    width: 200px;
    height: 200px;
}
.topNavigation__menuItem:first-child a {
    transition: opacity .1s ease-in-out;
}
.topNavigation__menuItem:first-child a:hover {
    opacity: .7;
}
.topNavigation__menuItem a {
    white-space: nowrap;
}
.topNavigation__menuItem a {
    display: block;
    color: #213d62 !important;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 1em 1.25em;
}
@media screen and (max-width: 768px) {
    .topNavigation__mobileMenuToggler {
        display: block;
        position: absolute;
        left: 0;
        top: 271px;
        width: 100%;
        z-index: 1;
        text-align: center;
    }
    .topNavigation__mobileMenuToggler a {
        color: #ffffff !important;
    }
    .topNavigation .togglerOpened {
        display: none;
    }
    .topNavigation._expanded .togglerOpened {
        display: inline;
    }
    .topNavigation._expanded .togglerClosed {
        display: none;
    }
    .topNavigation__mobileMenuToggler a {
        display: inline-block;
        padding: 12px;
    }
    .topNavigation__mobileMenuToggler svg {
        vertical-align: -2px;
    }
    .topNavigation__menu {
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
        padding-top: 50px !important;
    }
    .topNavigation__menuItem {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .topNavigation__menuItem:not(:first-child) {
        display: none;
    }
    .topNavigation._expanded .topNavigation__menuItem:not(:first-child) {
        display: block;
    }
    .topNavigation._expanded .topNavigation__menuItem:last-child {
        display: none;
    }
    .topNavigation._expanded {
        padding: 0;
    }
    .topNavigation._expanded .topNavigation__menuItem:first-child {
        top: -237px;
    }
    .topNavigation._expanded .topNavigation__menu {
        padding-bottom: 30px;
    }
    .topNavigation__menuItem:first-child {
        top: -247px;
    }
    .topNavigation__menuItem:last-child {
        display: none;
    }
    .topNavigation__menuItem:not(:first-child) a {
        border-bottom: 1px solid #ffffff;
    }
}
body{
    background-color:white;
}
