<div class="row" style="margin-left: 20px; padding-top: 20px;">
  <div class="col-lg-12 col-sm-12 column px-0">
    <div>
      <b-card>

        <div style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
          <img class="detail_image" v-if="row.companyLogo" :src="row.companyLogo.url" width="100px" height="100px" style="margin-left: 5px; vertical-align:middle; border-radius: 15px;">
          <span class="company_title" style="font-weight: bold; font-family: 'Grenette pro', sans-serif; font-size: 25px; color:black; margin-left: 10px; ">{{row.name}} - {{row.dealProjectName}}</span>
        </div>

        <b-tabs card="">
          <b-tab title="Company Info" :title-link-class="'tab-title-class'" active="">

            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.name" class="h4 font-weight-bold"> Company Name
                    <b-card-text>{{row.name}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.aboutTheCompany" class="h4 font-weight-bold"> About Company
                    <b-card-text>{{row.aboutTheCompany}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.website" class="h4 font-weight-bold"> Website
                    <b-card-text>{{row.website}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.location" class="h4 font-weight-bold"> Location
                    <b-card-text>{{row.$location$display}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.startDate" class="h4 font-weight-bold"> Company Start Date
                    <b-card-text>{{row.$startDate$Date}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.employeeAmount" class="h4 font-weight-bold"> Number of employees
                    <b-card-text>{{row.employeeAmount}}</b-card-text>
                  </p>
                </div>
              </div>
            </div>

          </b-tab>

          <b-tab title="Pitch & Deal" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.dealProjectName" class="h4 font-weight-bold"> Deal/Project Name
                    <b-card-text>{{row.dealProjectName}}</b-card-text>
                  </p>
                </div>
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.pitchSummary" class="h4 font-weight-bold"> Pitch Summary
                    <b-card-text>{{row.pitchSummary}}</b-card-text>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p v-if="row.news" class="h4 font-weight-bold"> News
                    <b-card-text>{{row.news}}</b-card-text>
                  </p>
                </div>
              </div>

            <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em; font-weight: 400; " v-for="member in filterBy($getGrid('news'), row.rowKey, 'pitch') ">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; width:auto; margin: 10px; ">

                      <p style="padding-left: 10px; font-weight:bold; color:black;">
                      {{member.name}} <br> 
                      <span style="font-weight: normal;">{{member.newsDescription}}</span> <br>
                        <div style="margin-top:-10px; padding-left: 10px;" v-if="member.newsLink">
                          <a :href="'https://'+member.newsLink" target="_blank">
                            <div class="social-icon-contain">
                              <i style="padding: 5px; color: white;" class="fas fa-globe"></i>
                            </div>
                          </a>
                        </div>
                      </p>
               
                    </div>
                  </span>
                </div>
            </div>

            </div>

          </b-tab>

          <b-tab title="Team" :title-link-class="'tab-title-class'">
            <div class="details">
              <div class="row">
                <div class="column col-lg-4 col-sm-12 col-md-12">
                  <p class="h4 font-weight-bold"> Team Members</p>
                  <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em; font-weight: 400; " v-for="member in filterBy($getGrid('teamMembersTable'), row.rowKey, 'slingshotPitches') ">
                    <div class="rectangle" style="padding: 5px; border-radius: 6px; width:auto; margin: 10px; ">
                      <img v-if="member.profilePitcture" :src="member.profilePitcture.url" style="border-radius: 15px; vertical-align:middle; max-width:60px; margin-right:10px;  " />
                      {{member.name}}
                      {{member.secondName}}
                      <span v-if="member.$jobRole$display"> - </span>
                      {{member.$jobRole$display}}
                      <a :href="member.linkedin" target="_blank">
                        <i v-if="member.linkedin" style="padding: 5px; float: right;" class="fab fa-linkedin"></i>
                      </a>
                    </div>
                  </span>
                </div>
              </div>
          </b-tab>

          <b-tab title="Mentors Involved" :title-link-class="'tab-title-class'">
            <div class="row" style="padding-top: 10px; padding-left: 10px;">
              <div class="column col-lg-4 col-sm-12 col-md-12">
                <p class="h4 font-weight-bold" style="font-size: 17px;font-family: 'Grenette pro', sans-serif; color: black"> Mentors </p>
              </div>
            </div>

            <span style=" 
                font-family: 'Grenette pro', sans-serif;
                color: #ef4437;
                font-size: 1em;
                font-weight: 400;
              " v-for="mentor in filterPitchMentors(row.rowKey)" :key="mentor.rowKey">

              <div style="padding-left: 20px;">
                <img :src="$getDashboardModel('mentors')[mentor.mentor].$profileImage$display" style="border-radius: 15px; max-width:90px; padding: 5px; vertical-align:middle; " /></img>
                <span style="vertical-align:middle; ">{{mentor.$mentor.name}} {{mentor.$mentor.secondName}}</span>
              </div>

            </span>
          </b-tab>

        </b-tabs>
      </b-card>
    </div>
  </div>
</div>