  <div v-if='row.$sME' class="card-body">

    <button @click="removeSession(row.rowKey)" type="button" class="btn btn-danger btn-sm">
      <i class="fas fa-trash-alt"></i>
    </button>

    <center>
      <img v-if='row.$sME' :src="$getDashboardModel('sMEProfiles')[row.sME].profileImage.url" style="border-radius: 15px; max-width:90px; padding: 5px; " />
    </center>

    <div class="pt-4 text-center">
      <h5 class="h3 title">
        <div v-if='row.$sME'>
          <span style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 20px;" class="d-block mb-1">{{row.$sME.name}} {{row.$sME.secondName}}</span>
        </div>


        <div style="height: 30px; padding-bottom: 10px;" class="row justify-content-center">
          <span class="d-block mb-1" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 1em;  ">{{row.name}}</span>
        </div>

        <div v-if='row.$sME' class="row" style="justify-content:center; height: 100px;">
          <small style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em;     font-weight: 400;" class="h4 font-weight-light">{{row.notes}}</small>
        </div>
        <div v-if='row.$sME' class="row" style="justify-content:center;">
          <small style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em;     font-weight: 400;" class="h4 font-weight-light">{{new Date(row.$sDate$display).toLocaleDateString("en-US", {
          year: 'numeric',
          month: 'numeric',
          day: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
        }) }}</small>
        </div>


        <div style="height:20px;" class="row">
        </div>

      </h5>

      <center style="padding-bottom: 30px;">
        <b-button class=" btn-sm" variant='primary' @click="$dgShowEditRowModal('sessions', row.rowKey);">
          View Details
        </b-button>
      </center>

    </div>
  </div>