<div class="card-body">

  <div class="row">

    <b-button class="btn btn-warning btn-sm" style="color: white;  right: 25px; position: absolute;" @click='$setCurrentSubTab("-MTBaL8BTycvh1K_uOK4","-MJq8S1suwASZ84EkCd5")' variant='success'> <i class="fas fa-edit"></i>
    </b-button>
    
  </div>

  <center style="padding-top: 20px;"><img v-if="row.profileImage" :src="row.profileImage.url" style="border-radius: 15px; max-width:100px; " /> </center>
  <a href="#!">
  </a>
  <div class="pt-4 text-center">
    <h5 class="h3 title" style="font-family: 'Grenette pro', sans-serif; font-size: 25px; color:black;">
      <span class="d-block mb-1" style="padding-bottom: 20px;">{{row.name}} {{row.secondName}}</span>

      <p class="h4 font-weight-Bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Date of Birth </p>
      <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 0.8em;     font-weight: 400;"> {{row.$dateOfBirth$Date}} 
      </p>

      <p class="h4 font-weight-Bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Address: </p>
      <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 0.8em;     font-weight: 400;"> {{row.address}} </span>
      </p>

      <p class="h4 font-weight-Bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Location: </p>
      <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 0.8em;     font-weight: 400;"> {{row.$location$display}} </p>
        </p>

        <p class="h4 font-weight-Bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Contact Number: </p>
        <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 0.8em;     font-weight: 400;"> {{row.phoneNumber}} </span>
        </p>

      <p class="h4 font-weight-Bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Email: </p>
        </p>

      <div class="row" style="justify-content:center; height: 40px;">
        <small style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em;     font-weight: 400;" class="h4 font-weight-light text-muted" v-for='e in row.$owner$display'>
        <a style="color: #ef4437;" href="`mailto:${e}`">{{e}}</a>
        </small>
      </div>

    </h5>

    <center>
  <button style=": white;" class="btn btn-primary" @click='$signOut();'>
  <break></break>
Sign Out
  </button>
</div>

    </center>

  </div>
</div>