<div class="card-body">
  <div class="row">


  </div>
  <center><img :src="row.$companyLogo$display" style="border-radius: 15px; max-width:100px  " /> </center>
  <a href="#!">
  </a>
  <div class="pt-4 text-center">
    <h5 class="h3 title">
      <span class="d-block mb-1">{{row.name}}</span>
      <small id="about" class="h4 font-weight-light text-muted"></small>

      <p class="h4 font-weight-light text-muted" style="height: 120px; padding: 10px;">{{truncateText(row.aboutTheCompany,200)}}</p>

      <p class="h4 font-weight-bold text-muted"> Team Members: </p>

      <div style="height: 100px;">
        <p class="h4 font-weight-light text-muted" v-if="i < 3" v-for="member, i in filterBy($getGrid('teamMembersTable'), row.rowKey, 'slingshotPitches') ">
          <b-badge variant="secondary">
            {{member.name}}

            {{member.secondName}}
            -
            {{member.$jobRole$display}}
          </b-badge>
        </p>
      </div>




      <p class="h4 font-weight-bold text-muted" style="padding-top: 10px;"> Investment Type: </p>
      <b-badge variant="primary" > {{row.$investmentType$display}} </b-badge>
      </p>
      <p class="h4 font-weight-bold text-muted"> Total Funding Round: £{{row.totalFundingRound |  numeralFormat('0,0') }} </p>
      <p class="h4 font-weight-bold text-muted"> Money Raised to date: £{{row.capitalRaisedToDate |  numeralFormat('0,0') }} </p>


      <a :href="'https://'+row.website" target="_blank">
        <i style="padding: 5px;" class="fas fa-globe"></i>
      </a>
      <a :href="row.linkedInLink" target="_blank">
        <i style="padding: 5px;" class="fab fa-linkedin"></i>
      </a>
    </h5>
    <center>
      <b-button class=" btn-sm" @click='openDetail(row.rowKey)' variant='danger'>Show More Details
      </b-button>
    </center>
  </div>
</div>