<div class="center fade-in" >

    <h1 v-if="$getUser('accountType') == 'SME'" style="font-family: 'Grenette pro', sans-serif;"> Company Dashboard </h1>
    <h1 v-if="$getUser('accountType') == 'Investor'" style="font-family: 'Grenette pro', sans-serif;"> Investor Dashboard </h1>
    <h1 v-if="$getUser('accountType') == 'Mentor'" style="font-family: 'Grenette pro', sans-serif;"> Mentor Dashboard </h1>
    <h1 v-if="$getUser('accountType') == 'PP'" style="font-family: 'Grenette pro', sans-serif;"> Programme Partner Dashboard </h1>


</div>