
<!-- -->
<div v-if='row.$pitch' class="row justify-content-center" >

    <img v-if='row.$sME' :src="$getDashboardModel('sMEProfiles')[row.sME].$profileImage$display" style="border-radius: 15px; max-width:90px; padding: 5px; " />
  <img v-if='row.$sME' :src="$getDashboardModel('slingshotPitches')[row.pitch].$companyLogo$display" style="border-radius: 15px; max-width:90px; padding: 5px;  " /> 
</div>

<div class="row justify-content-center" style="padding-bottom:1%;">

  <h1 style="font-family: 'Grenette pro', sans-serif; color:black;" >{{row.$sME.name}} {{row.$sME.secondName}} & {{row.$pitch.name}} </h1>


</div>
<!-- -->


<b-card>
<FullCalendar 

v-if='$getUser("filterSME")'

calendarId="-MVpai9ZhxoM_tJK6Q4D" />
</b-card>