<div>
  <div class="row">
  </div>

  <center style="padding-top: 10px;">
    <img v-if='row.$sME' :src="$getDashboardModel('sMEProfiles')[row.sME].$profileImage$display" style="border-radius: 15px; max-width:90px; padding: 5px; " />
    <img v-if='row.$pitch' :src="$getDashboardModel('slingshotPitches')[row.pitch].$companyLogo$display" style="border-radius: 15px; max-width:70px; padding: 5px;  " />
  </center>
  </a>
  <div class="pt-4 text-center">
    <h5 class="h3 title">

      <div v-if='row.$sME'>
          <span v-if='row.$sME' style="color: black; font-size: 20px; font-family: 'Grenette pro', sans-serif;" class="d-block mb-1">{{row.$sME.name}} {{row.$sME.secondName}}</span>
        </div>      <i style="color: black;" class="fas fa-hands-helping"></i>
      <span v-if='row.$pitch' style="color: black; font-size: 20px; font-family: 'Grenette pro', sans-serif; padding-bottom: 10px;" class="d-block mb-1">{{row.$pitch.name}}</span>

      <div class="row" style="justify-content:center; padding-bottom: 10px;">
        <small style="color: black; font-size: 20px; font-family: 'Grenette pro', sans-serif; " class="h4 font-weight-light">{{row.name}}</small>
      </div>

      <div class="row" style="justify-content:center;">
        <small style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em;     font-weight: 400;" class="h4 font-weight-light">{{row.notes}}</small>
      </div>

      <div class="row" style="justify-content:center;">
        <small style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 1em;     font-weight: 400;">{{new Date(row.$sDate$display).toLocaleDateString("en-US", {
          year: 'numeric',
          month: 'numeric',
          day: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
        }) }}</small>
      </div>

    </h5>

    <div style="height:20px;" class="row">
    </div>

    <center style="padding-bottom: 20px;">
      <b-button  class=" btn-sm" variant='primary' @click="$dgShowEditRowModal('sessions', row.rowKey);">Leave Review
      </b-button>
    </center>



  </div>
</div>