<div class="card-body">
  <div style="padding-top: 10px;">
    <center><img v-if="row.profileImage" :src="row.profileImage.url" style="border-radius: 15px; max-width:100px;  " /> </center>
  </div>

  <div class="pt-4 text-center">
    <h5 class="h3 title">
      <span style="font-family: 'Grenette pro', sans-serif; font-size: 20px; color:black;" class="d-block mb-1">{{row.name}} {{row.secondName}}</span>

      <p class="h4 font-weight-light" style="height: 80px; padding-bottom: 30px; font-family: 'Grenette pro', sans-serif; color:black;"> {{truncateText(row.aboutMe, 100)}} </p>

      <div style="height: 140px; padding-bottom: 15px;">
        <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Main Sectors: </p>
          <p class="h4 font-weight-light" v-for="item in row.$mainSectors$display">
          <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 0.9rem;">
            <div class="rectangle" style="padding: 2px; border-radius: 6px;">
              {{item}}
            </div>
          </span>
        </p>
      </div>

     <div style="height: 140px; padding-bottom: 15px; padding-top: 10px;">
        <p class="h4 font-weight-bold" style="font-family: 'Grenette pro', sans-serif; color: black; font-size: 17px;"> Main Skills: </p>
          <p class="h4 font-weight-light"v-for="item in row.$mainSkills$display">
          <span style="font-family: 'Grenette pro', sans-serif; color: #ef4437; font-size: 0.9rem;">
            <div class="rectangle" style="padding: 2px; border-radius: 6px;">
              {{item}}
            </div>
          </span>
        </p>
      </div>

    </h5>

    <div class="row justify-content-center">
      <div style="height: 40px;">
      <div v-if="row.linkedInProfileLink">
        <a :href="row.linkedInProfileLink" target="_blank">
          <div class="social-icon-contain">
          <i style="padding: 5px; color: white;" class="fab fa-linkedin"></i>
          </div>
        </a>
      </div>
      </div>
    </div>

    <center>
      <div style="padding: 10px;">
        <button style="font-family: 'Grenette pro', sans-serif; font-size: 15px;" class="myButton" @click='openDetail(row.rowKey)'>View Profile</button>
        </b-button>
      </div>
    </center>

  </div>
</div>