<div class="box">
    <div class="notifications">
        <i class="fa fa-bell"></i>
        <span class="num">{{notificationCount}}</span>
        <ul>
            <!-- Notifications Sent -->
            <li class="icon"
                v-for='row in notificationList'
                    @click="$dgShowEditRowModal('applications', row.rowKey);" >
                    <span class="text" >{{row.notificationDescription}}</span>
            </li>
            
            <!-- SME Notifications Response -->
            <li class="icon"
                v-for='row in notificationListResponseSME'
                    @click="redirectToSMEorMentorPage(); $setDataGridVal('applications', `${row.rowKey}.responseOpened`, true);" >
                    <span class="text" >{{row.$sME.name}} {{row.$sME.secondName}} ({{row.$pitch.name}}) has accepted your application</span>
            </li>

            <!-- Mentor Notifications Response -->
            <li class="icon"
                v-for='row in notificationListResponseMentor'
                    @click="$setDataGridVal('applications', `${row.rowKey}.responseOpened`, true); redirectToSMEorMentorPage();" >
                    <span class="text" >Mentor ({{row.$mentor.name}} {{row.$mentor.secondName}}) has accepted your application</span>
            </li>

            <!-- Session request sent to SME-->
            <li class="icon"
                v-for='row in notificationListSessionSME'
                    @click="$dgShowEditRowModal('sessions', row.rowKey);" >
                    <span class="text" >Mentor ({{row.$mentor.name}} {{row.$mentor.secondName}}) has requested to book a session with you</span>
            </li>

            <!-- Session request response to mentor -->
            <li class="icon"
                v-for='row in notificationListSessionResponse'
                    @click="$setDataGridVal('sessions', `${row.rowKey}.notifComplete`, true); redirectToSMEorMentorPage();" >
                    <span class="text" >{{row.$sME.name}} {{row.$sME.secondName}} ({{row.$pitch.name}}) has accepted your session booking</span>
            </li>

            <!-- 
            //VIEWING ALL NOTIFS (NOT NEEDED)    
            <li class="icon">
                <span class="text" @click='$setCurrentSubTab("-MSbUoT--6X8CjMwlOQ3","-MJq8S1suwASZ84EkCd5")'>View All Notifications</span>
            </li>

            //SETTING NOTIF STATUS (IF NEEDED)
            $setDataGridVal('applications', `${row.rowKey}.isComplete`, true);
            -->
        </ul>
    </div>
</div>
