<div class="body-border-contain">
<div class="border-top">
   <div class="border-bottom"></div>
   <div class="border-left"></div>
   <div class="border-right"></div>
   <center>
      <div class="" style="">
         <!--<WorkspaceLogo width="350" height="85"/>-->
      </div>
   </center>
</div>

<div class="nav-top-contain">
   <div class="nav-logo left w-nav-brand w--current" style="margin-left: auto; margin-right:auto;">
      <div v-if="$getUser('accountType') != 'CompanyUser' || currentSubTab === '-MfY0EbaZX6XWjZu1p6r'" class="nav-logo-text">True Altitude - Investment Portal</div>
      <div v-if="currentSubTab !== '-MfY0EbaZX6XWjZu1p6r' && $getUser('accountType') === 'CompanyUser'" class="backToAdminDashboard" @click="backToStartMenu();">
         <div class="nav-logo right ui">
            <i class="gg-chevron-left"></i>
            <div class="nav-logo-text" style="font-size: 18px">Menu</div>
         </div>
      </div>
   </div>

    <div class="nav-logo right w-nav-brand w--current">
        <a href="https://www.truealtitude.co.uk/" target="_blank">
            <img src="https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/601d6a5ca8e000caf35b4f86_logomark.svg" loading="lazy" alt="true altitude logomark" class="logomark">
        </a>
    </div>

   <div>

</div>



<div  class="nav-bottom-contain">
   <div data-w-id="639316c0-3f07-ae05-7551-93879e5f39bf" class="nav-menu-icon-contain">
      <a href="#" class="nav-menu-link menu w-button">Menu</a>
      <a href="#" class="nav-menu-link close w-button"></a>
   </div>
 
 <div v-if="fbUser.email" class="nav-menu-contain">
      <div style="width: 200px;" class="nav-menu-link-box end">
         <a @click='$setCurrentSubTab("-MPe0oZfJimFYsv9gy53","-MJq8S1suwASZ84EkCd5")' class="nav-menu-link w-button">Back to Portal</a>
      </div>
 </div>

</div>

