<div style="z-index: 2;" v-if="currentSubTab === '-MPe0oZfJimFYsv9gy53' || currentSubTab === '-MLb4VOxEfZKqJNookL4' || currentSubTab === '-MKUrGgnB0UOnhJlhCjv' || currentSubTab === '-MR0b-cKrUEPkudH1B0x'" class="dashboardText fade-in">

  <h1 v-if="$getUser('accountType') == 'CompanyUser'" style=""> Company 
    <h2> Dashboard </h2>
  </h1>
  <h1 v-if="$getUser('accountType') == 'Investor'" style=""> Investor 
    <h2> Dashboard </h2>
  </h1>
  <h1 v-if="$getUser('accountType') == 'Mentor'" style=""> Mentor 
    <h2> Dashboard </h2>
  </h1>
  <h1 v-if="$getUser('accountType') == 'ProgrammePartner'" style="te"> Programme Partner
    <h2> Dashboard </h2>
  </h1>

</div>

<div class="foregroundContainer" style=" object-fit: cover; margin-top: 380px;   position: fixed;  z-index: 1;  height: 100%; width: 100%; " v-if="currentSubTab === '-MPe0oZfJimFYsv9gy53' || currentSubTab === '-MLb4VOxEfZKqJNookL4' || currentSubTab === '-MKUrGgnB0UOnhJlhCjv' || currentSubTab === '-MR0b-cKrUEPkudH1B0x'" >
  <!-- <img style="background-repeat:no-repeat; background-size:contain; background-position:center;" src="https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/602285770f4cf7e206637d79_hero-foreground.png" loading="lazy" sizes="100vw" srcset="https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/602285770f4cf7e206637d79_hero-foreground.png 500w, https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/602285770f4cf7e206637d79_hero-foreground.png 800w, https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/602285770f4cf7e206637d79_hero-foreground.png 1600w, https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/602285770f4cf7e206637d79_hero-foreground.png 2000w, https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/602285770f4cf7e206637d79_hero-foreground.png 2400w" alt="" class="hero-mountain-img"> -->
</div>
