<div class="body-border-contain">
   <div class="border-top"></div>
   <div class="border-bottom"></div>
   <div class="border-left"></div>
   <div class="border-right"></div>
</div>
<div class="nav-top-contain">
   <div class="nav-logo left w-nav-brand w--current">
      <div v-if="currentSubTab !== '-MVGPMeqvw0Ux3xl4eNE' && currentSubTab !== '-MVGPWkCqsquh0_f0Xb1' && currentSubTab !== '-MVGPQly6PCb183y6WaH' && currentSubTab !== '-MVGPTbxCAO6gmtwzQIf' " class="nav-logo-text">True Altitude - Investment Portal</div>
      <div v-if="$getUser('accountType') != 'NONE' && currentSubTab == '-MVGPWkCqsquh0_f0Xb1'  ||  currentSubTab == '-MVGPMeqvw0Ux3xl4eNE' || currentSubTab == '-MVGPQly6PCb183y6WaH' || currentSubTab == '-MVGPTbxCAO6gmtwzQIf' " class="nav-logo-text back" @click='deleteOldProfile(); setAccountTypeNone(); $setCurrentSubTab("-MVGSFAeqMzmj9TyxT6b","-MVGOMA1-ifNurWKHxUf")'>
         <i class="fas fa-chevron-left" style="padding-right: 10%;"></i>
         Back
      </div>


   </div>
   <div v-if="userRoles && userRoles.includes('Admin')" class="nav-logo right ui">
      <a @click="$setCurrentTab('-MKUwx1XmgWmAYvLK_wz')" target="_blank">
      <i class="fas fa-database"></i>
      </a>
   </div>

   <div v-if="fbUser.email" class="nav-logo right ui notNotif signOut">
      <a @click="$signOut()" target="_blank">
        <span class="tooltiptext">Sign out: {{fbUser.email}}</span>
        <i class="fas fa-sign-out-alt"></i>
      </a>
   </div>

    <div class="nav-logo right w-nav-brand w--current">
        <a href="https://www.truealtitude.co.uk/" target="_blank">
            <img src="https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/601d6a5ca8e000caf35b4f86_logomark.svg" loading="lazy" alt="true altitude logomark" class="logomark">
        </a>
    </div>
</div>
<div class="bg">
</div>
<div>
    <div class="nav-bottom-contain">
    <div data-w-id="639316c0-3f07-ae05-7551-93879e5f39bf" class="nav-menu-icon-contain">
        <a href="#" class="nav-menu-link menu w-button">Menu</a>
        <a href="#" class="nav-menu-link close w-button"></a>
    </div>
    <div v-if="$getUser('accountType') != 'CompanyUser' && $getUser('accountType') != 'Mentor' && $getUser('accountType') != 'Investor' && $getUser('accountType') != 'ProgrammePartner'" class="nav-menu-contain">
        <div class="nav-menu-link-box start">
            <a @click="createInvestorProfile()" class="nav-menu-link w-button" id="createInvestor" 
                onmouseleave="document.getElementById('cardContainer').style.display = 'none'; document.getElementById('investorText').style.display = 'none';" 
                onmouseover="document.getElementById('cardContainer').style.display = 'block'; document.getElementById('investorText').style.display = 'block';"
            >
            Investor
            </a>
        </div>
        <div class="nav-menu-link-box">
            <a @click="createMentorProfile()" class="nav-menu-link w-button" id="createMentor"
                onmouseleave="document.getElementById('cardContainer').style.display = 'none'; document.getElementById('mentorText').style.display = 'none';" 
                onmouseover="document.getElementById('cardContainer').style.display = 'block'; document.getElementById('mentorText').style.display = 'block';"
            >
            Indirect Investor
            </a>
        </div>
        <div class="nav-menu-link-box">
            <a @click="createCompanyUserProfile()" class="nav-menu-link w-button" id="createCompanyUser"
                onmouseleave="document.getElementById('cardContainer').style.display = 'none'; document.getElementById('companyUserText').style.display = 'none';" 
                onmouseover="document.getElementById('cardContainer').style.display = 'block'; document.getElementById('companyUserText').style.display = 'block';"
            >
            Company
            </a>
        </div>
        <div class="nav-menu-link-box end">
            <a @click="createProgrammePartnerProfile()" class="nav-menu-link w-button" id="createPP"
                onmouseleave="document.getElementById('cardContainer').style.display = 'none'; document.getElementById('ppText').style.display = 'none';" 
                onmouseover="document.getElementById('cardContainer').style.display = 'block'; document.getElementById('ppText').style.display = 'block';"
            >    
            Programme Partner
            </a>
        </div>
    </div>
    </div>
</div>