<div class="body-border-contain">
    <div class="border-top"></div>
        <div class="border-bottom"></div>
            <div class="border-left"></div>
                <div class="border-right"></div>
</div>

<div class="nav-top-contain">
    <div class="nav-logo left w-nav-brand w--current">
        
        <div v-if="$getUser('accountType') != 'SME' && $getUser('accountType') != 'Mentor' && $getUser('accountType') != 'Investor' && $getUser('accountType') != 'PP'" class="nav-logo-text">True Altitude - Investment Portal</div>
        
        <div v-if="$getUser('accountType') != 'NONE' && currentSubTab == '-MVGPWkCqsquh0_f0Xb1'  || currentSubTab == '-MVGPMeqvw0Ux3xl4eNE' || currentSubTab == '-MVGPQly6PCb183y6WaH' || currentSubTab == '-MVGPTbxCAO6gmtwzQIf' " class="nav-logo-text back" @click='setAccountTypeNone(); $setCurrentSubTab("-MVGSFAeqMzmj9TyxT6b","-MVGOMA1-ifNurWKHxUf")'>
         
            <i class="fas fa-chevron-left" style="padding-right: 10%;"></i>
            Back
  
        </div>

    </div>


    <div class="nav-logo right w-nav-brand w--current">
        <a href="https://www.truealtitude.co.uk/" target="_blank">
            <img src="https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/601d6a5ca8e000caf35b4f86_logomark.svg" loading="lazy" alt="true altitude logomark" class="logomark">
        </a>
    </div>
</div>

<div class="bg">

   <img src="https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/60253f9a0f7b98af540d19a9_hero-sky.jpg" loading="lazy" sizes="100vw" srcset="https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/60253f9a0f7b98af540d19a9_hero-sky-p-500.jpeg 500w, https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/60253f9a0f7b98af540d19a9_hero-sky-p-800.jpeg 800w, https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/60253f9a0f7b98af540d19a9_hero-sky-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/60253f9a0f7b98af540d19a9_hero-sky-p-2000.jpeg 2000w, https://uploads-ssl.webflow.com/6019829c6923fb7e4774c0bc/60253f9a0f7b98af540d19a9_hero-sky.jpg 2400w" alt="" class="hero-sky-img"> 
</div>

<div class="nav-bottom-contain">
    <div data-w-id="639316c0-3f07-ae05-7551-93879e5f39bf" class="nav-menu-icon-contain">
        <a href="#" class="nav-menu-link menu w-button">Menu</a>
        <a href="#" class="nav-menu-link close w-button"></a>
    </div>

    <div v-if="$getUser('accountType') != 'SME' && $getUser('accountType') != 'Mentor' && $getUser('accountType') != 'Investor' && $getUser('accountType') != 'PP'" class="nav-menu-contain">

        <div class="nav-menu-link-box start">
            <a @click="createInvestorProfile()" class="nav-menu-link w-button">Investor</a>
        </div>
        <div class="nav-menu-link-box">
            <a @click="createMentorProfile()" class="nav-menu-link w-button">Mentor</a>
        </div>
        <div class="nav-menu-link-box">
            <a @click="createCompanyProfile()" class="nav-menu-link w-button">SME/Company</a>
        </div>
        <div class="nav-menu-link-box end">
            <a @click="createProgrammePartnerProfile()" class="nav-menu-link w-button">Programme Partner</a>
        </div>
    </div>

</div>